.search-input{
    height: 36px!important;
    margin-bottom:0px!important;
    border-radius: 4px!important;
}

.search-input-products input{
    border:0px!important
}

.background-loader .container{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.background-loader{
    position: absolute;
    z-index: 999;
    top: 0px;
    text-align: center;
    margin: auto;
    display: block;
    width: 100%;
    background: #fff;
    height: 100%;
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #6f6f6f;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

#tendero_meta_box .modal-add{
    position: absolute;
    z-index: 999;
    width: 550px;
}

#tendero_meta_box .btn-add{
    margin: 0px 10px!important;
    top: -2px!important;
}


@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}


